<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Thymeleaf Expressions</title>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

	<style>

	</style>
</head>


<body class="bg bg-success">
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<img th:src="@{img/Logonavbar.png}" class="rounded-pill sticky-top" style="width:200px;"
					alt="Mi Imagen"/>
			</a>
			<div class="collapse navbar-collapse d-flex justify-content-end" id="mynavbar">
				<ul class="navbar-nav ms-auto pe-5">
					<li class="nav-item pe-4">
						<a class="nav-link text text-white fs-5" href="javascript:void(0)">Inicio</a>
					</li>
					<li class="nav-item pe-4">
						<a class="nav-link text text-white fs-5" href="javascript:void(0)">Rutas</a>
					</li>
					<li class="nav-item pe-4">
						<a class="nav-link text text-white fs-5" href="javascript:void(0)">Horarios</a>
					</li>
					<li class="nav-item pe-4">
						<a class="nav-link text text-white fs-5" th:href="@{/Registro}">Regístrate</a>
					</li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="text" placeholder="Buscar">
					<button class="btn btn-primary" type="button">Buscar</button>
				</form>
			</div>
		</div>
	</nav>
	<div class="d-flex flex-grow-1 container-fluid px-0">

	        <aside class="flex-shrink-0 p-4 bg-dark text-light border-end border-warning border-3" style="width: 250px;">
	            <h5 class="text-warning fw-bold text-uppercase big mb-3 text-center">Panel Táctico</h5>
	            <ul class="nav flex-column">
	                <li class="nav-item">
	                    <a class="nav-link text-light border-bottom border-secondary py-2 text-uppercase small"
	                        href="../Proyecto Bootstrap/Streamers.html">rutas</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link text-light border-bottom border-secondary py-2 text-uppercase small"
	                        href="../Proyecto Bootstrap/Carrusel.html">buses</a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link text-light border-bottom border-secondary py-2 text-uppercase small"
	                        href="../Proyecto Bootstrap/operadores.html">conductores</a>
	                </li>
	            </ul>
	        </aside>

	        <main class="flex-grow-1 p-4 bg-dark text-light overflow-auto">
	            <header class="mb-5 border-bottom border-secondary pb-3">
	                <h2 class="display-6 fw-bold text-uppercase ps-3">
	                    Centro de Operaciones
	                </h2>
	            </header>

	            <section class="row g-4 mb-5">
	                <div class="col-lg-8">
	                    <div class="mb-5">
	                        <img src="../Proyecto Bootstrap/img/skopos.avif"
	                            class="img-fluid rounded mb-4 shadow border border-secondary w-100"
	                            alt="Nueva Agente Skopós">
	                        <h3 class="text-warning fw-bold">OPERACIÓN COLLISION POINT: SKOPÓS</h3>
	                        <p class="lh-lg">
	                            La nueva defensora griega, <strong>Skopós</strong>, llega al equipo Rainbow. Utiliza sus dos
	                            armazones robóticos "Talos" para controlar dos puntos del mapa simultáneamente. Mientras
	                            opera uno, el otro actúa como un escudo reforzado inamovible.
	                        </p>
	                    </div>

	                    <div class="mb-5 ">
	                        <h3 class="text-warning fw-bold">ACTUALIZACIÓN DE EQUILIBRIO</h3>
	                        <div class="p-3 bg-black rounded border border-secondary mt-2">
	                            <ul class="list-group list-group-flush">
	                                <li class="list-group-item bg-transparent text-light border-warning">🔹
	                                    <strong>Solis:</strong> Ajuste en el tiempo de uso y enfriamiento de su sensor.
	                                </li>
	                                <li class="list-group-item bg-transparent text-light border-warning">🔹
	                                    <strong>Dokkaebi:</strong> Ahora requiere más tiempo para hackear dispositivos.
	                                </li>
	                                <li class="list-group-item bg-transparent text-light border-warning">🔹
	                                    <strong>Escudos:</strong> Mejora en la estabilidad de la retícula al recibir
	                                    impactos.
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>

	                <div class="col-lg-4">

	                    <div class="card bg-black border-secondary mb-4 shadow overflow-hidden">
	                        <div class="position-relative">
	                            <img src="../Proyecto Bootstrap/img/r6 esports.jpg" class="card-img-top opacity-75"
	                                alt="Esports">
	                            <div class="position-absolute bottom-0 start-0 p-3 w-100">

	                            </div>
	                        </div>
	                        <div class="card-body border-top border-warning border-2">
	                            <h6 class="text-warning fw-bold mb-0">GANADORES ESPORTS 2026</h6>
	                            <p class="card-text small text-secondary">El Six Invitational 2026 ha concluido dejando para
	                                la posteridad una de las finales más ajustadas en la historia del circuito competitivo.
	                                Tras una temporada de cambios drásticos en el meta, marcados por la integración total de
	                                los dispositivos robóticos y el balanceo de los agentes de brecha, el equipo que se ha
	                                alzado con el Martillo de Sledge demostró que la adaptabilidad es la herramienta más
	                                poderosa..</p>
	                            <button class="btn btn-sm btn-warning w-100 fw-bold">VER TRANSMISIÓN</button>
	                        </div>
	                    </div>

	                    <div class="card bg-black border-secondary shadow overflow-hidden">
	                        <div class="position-relative">
	                            <img src="../Proyecto Bootstrap/img/Themepark_rework.webp" class="card-img-top opacity-75"
	                                alt="Mapas">
	                            <div class="position-absolute bottom-0 start-0 p-3 w-100">
	                            </div>
	                        </div>
	                        <div class="card-body border-top border-warning border-2">
	                            <h6 class="text-warning fw-bold mb-0">VUELVE PARQUE DE ATRACCIONES Y MUCHOS MÁS</h6>
	                            <p class="card-text small text-secondary">El Alto Mando de Rainbow ha actualizado la lista
	                                de escenarios operativos para asegurar que los agentes mantengan su agudeza táctica en
	                                los entornos más hostiles. La rotación de mapas de 2026 introduce un equilibrio crítico
	                                entre los clásicos remodelados y las nuevas zonas de conflicto. Este año, el enfoque
	                                principal de la rotación es la "Destrucción Dinámica": mapas donde la arquitectura no es
	                                solo un refugio, sino un arma que puede volverse en contra de quien no la conoce.Mapas
	                                icónicos como Oregon y Club House permanecen en el núcleo competitivo, pero con
	                                sutiles ajustes en la iluminación y colisión de objetos que han modificado los ángulos
	                                de tiro tradicionales.</p>
	                        </div>
	                    </div>
	                </div>
	            </section>
	        </main>

	    </div>
		
		<div th:replace="~{fragments/footer :: footer}"></div>







</body>

</html>